.about-container {
  width: 1512px;
  height: 982px;
  position: relative;
  overflow: hidden;
}

.content-left {
  position: absolute;
  height: calc(100% - 90px);
  margin: 45px 0 43px 26px;
}

.content-top {
  position: absolute;
  max-width: 1034px;
  top: 45px;
  right: 55px;
}

.content-right {
  position: absolute;
  width: 1100px;
  right: 14px;
  bottom:43px;
}

.back-btn {
  position: absolute;
  max-width: 130px;
  left: 26px;
  bottom: 4%;
  cursor: pointer;
}

.back-btn:hover {
  transform: scale(1.05);
}
