.home-container {
  width: 1400px;
  height: 900px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-img {
  max-width: 1200px;
  margin-bottom: 40px;
  position: absolute;
  z-index: 99;
  pointer-events: none;
}

.dots-pattern-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 36px;
  max-width: 1000px;
}

.oval-outside-button {
  position: absolute;
  max-width: 1350px;
  cursor: pointer;
  top:36px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.oval-inside-button {
  position: absolute;
  max-width: 300px;
  top: 150px;
  left: 50%;
  transform: translateX(-33%);
  cursor: pointer;
  z-index: 9;
}

.oval-sub-left-button {
  position: absolute;
  max-width: 600px;
  bottom: 10px;
  left: 0;
  cursor: pointer;
  z-index: 10;
}

.oval-sub-right-button {
  position: absolute;
  max-width: 600px;
  bottom: 10px;
  right: 0;
  cursor: pointer;
  z-index: 10;
}

.camera-img {
  position: absolute;
  width: 80px;
  top: 50%;
  right: 20px;
  cursor: pointer;
}
